*.sh            text eol=lf
*.bash          text eol=lf
*.vim           text eol=lf
*.snippets      text eol=lf
dot-tmux.conf   text eol=lf
dot-bashrc      text eol=lf
dot-profile     text eol=lf
dot-gitconfig   text eol=lf
