# Use bazel-remote cache server with fallback to local disk cache
build --remote_cache=http://nwv-srv:8080
build --disk_cache=~/.cache/bazel-disk-cache

# Don't fail the build if remote cache is unavailable
build --remote_local_fallback
build --remote_timeout=5s
build --remote_retries=0

# Allow ccache to work inside Bazel's sandbox
build --sandbox_writable_path=/home/pthrr/.cache/ccache
build --sandbox_writable_path=/run/user/1000/ccache-tmp
build --action_env=CCACHE_DIR=/home/pthrr/.cache/ccache
build --action_env=CCACHE_TEMPDIR=/run/user/1000/ccache-tmp
