priority -50

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet #! "#!/bin/bash" b
#!/bin/bash
set -euo pipefail exec > ~/log.log 2>&1
$0
endsnippet
